# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Env files
.env
!.env.example

# Docker
.docker/

# Node / Frontend
node_modules/
dist/
.nuxt/
.output/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
